@import './reset';
@import './vars/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

img {
  max-width: 100%;
}
