.Sidebar {
  height: calc(100vh - 70px);
  background: var(--inverted-bg-color);
  width: 30%;
  padding: 20px;
  position: relative;
  transition: width 0.4s linear;
}

.collapsed {
  width: 200px;
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.pages {
  display: flex;
  flex-direction: column;
}

.btn {
  position: absolute;
  bottom: 20px;
  right: -10%;
}