.Sidebar {
  height: calc(100vh - 70px);
  background: var(--inverted-bg-color);
  width: 30%;
  padding: 20px;
  position: relative;
  transition: width 0.4s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsed {
  width: 100px;
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
