.app.light {
  --bg-color: #e8e8ea;
  --primary-color: #021d75;
  --secondary-color: #0938d1;

  --inverted-bg-color: #13135a;
  --inverted-primary-color: #068206;
  --inverted-secondary-color: #07d207;
}
